<h1>About</h1>
<p>Hot or Cold Friend Finder is an app created by
<a href="http://phillipac.github.io">Phillip Clontz</a>. You
can use the app to send locations to your friends. However, unlike 
traditional GPS apps, your friends will not recieve the actual 
location. Instead they can use the Friend Finder to play a global
game of "Hot or Cold" to find the location. 