<h1>Contact</h1>
<p>
    You can find contact information for the creator
    of this app by going to 
    <a href="http://phillipac.github.io/pages/contact">
        Phillip Clontz's Website
    </a>.
</p>