<h1>FAQ</h1>
<h2>
    How much data does this use?
</h2>
<p>
    This app should not use very much data. When you press the 
    "hotter or colder" button the app make a small call to the
    server with your current location. The server then does 
    some calculations on its side and returns a percentage and
    if you are hotter or colder. 
</p>
<h2>
    Do you store my location?
</h2>
<p>
    The app does require your location to see if you are getting closer
    to the target; however, it does not store your location in the data
    base. That said, if you create a target it does store that location
    in the database. 
</p>
<h2>
    After making a target will the location move with me?
</h2>
<p>
    No. When you create a target (or match) you are setting a static
    location. This location will not change unless you edit the target
    yourself.
</p>
<h2>
    Why can't I see a map of the location?
</h2>
<p>
    When viewing a target (or match) only the creator can see a map
    of the location. The finder will only get a progress bar and a 
    hot or cold message.
</p>
<h2>
    Who can send me targets?
</h2>
<p>
    Anyone can send anyone (including yourself) a target. Only look for
    a target from an account you know! We will limit this later...
</p>
<h2>
    Do you plan on adding profiles and friendship?
</h2>
<p>
    Yes! This is on the short list of things to add. Once added you will
    only be able to choose from friends to make targets. This is both a 
    safty feature and helps limits the people you have to search through.
</p>
<h2>
    Why did you make this?
</h2>
<p>
    The Hot or Cold Friend Finder was an idea for an app that my
    friends joked about one day. Looking for a project to make I decided
    to bring that joke into reality. 
</p>